<template name="myBlogIndexTemplate">
    > mrt add imgur
    <img class="blog_logo" src="/img/magario/magario-textlogo-navbar.png">
    <button class="admin_logout">Logout</button>
    <div class="blog_page">
        <link rel="alternate" type="application/rss+xml" title="My blog title" href="/rss/posts">
        <h1>Welcome to Magario Blog</h1>
        {{#each posts}}
            <div class="post_item">
                <h2>{{title}} <small>Published on {{publishedAt}}</small></h2>
                <div class="post_item_content">{{{excerpt}}}</div>
            </div>
        {{/each}}
        {{blogPager}}
    </div>
</template>