<template name="myBlogIndexTemplate">
    <!--<img class="blog_logo" src="/img/magario/magario-textlogo-navbar.png">
    <button class="admin_logout">Logout</button>-->
    {{> blog_navbar}}

    <div class="blog_page">
        <h2>Welcome {{username}}</h2>
        {{#each posts}}
            <article class="post">
                <div class="row">
                    {{#if featuredImage}}
                        <div class="col-md-3">
                            <a href="{{pathFor 'blogShow'}}" class="thumbnail">
                                <img src="{{featuredImage}}" alt="" class="img-responsive">
                            </a>
                        </div>
                    {{/if}}
                    <div class="{{#if featuredImage}}col-md-9{{else}}col-md-12{{/if}} post_item">
                        <h2>
                            <a href="{{pathFor 'blogShow'}}">{{title}}</a>
                        </h2>
                        <div class="post-meta">
                            By {{authorName}} on {{blogFormatDate publishedAt}}
                            {{> blogTags }}
                        </div>
                        <div class="the-content">
                            <small>{{{excerpt}}}</small>
                        </div>
                    </div>
                </div>
            </article>
        {{else}}
            This blog is looking pretty empty...
        {{/each}}
        {{#if tags}}
            <div class="post-tags">
                <p> &ndash; Tags: {{blogFormatTags tags}}</p>
            </div>
        {{/if}}
    </div>
</template>

<template name="UnuseBlog">
    {{> disqus this}}
    <div class="blog_page">
        <link rel="alternate" type="application/rss+xml" title="My blog title" href="/rss/posts">
        <h1>Welcome to Magario Blog</h1>
        {{#each posts}}
            <a href="/blog/{{slug}}">
                <div class="post_item">
                    <h2>{{title}} <small>Published on {{publishedAt}}</small></h2>
                    <div class="post_item_content">{{{excerpt}}}</div>
                </div>
            </a>
        {{/each}}
        {{blogPager}}
    </div>
</template>

<template name="blog_navbar">
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-expanded">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll click-logo">
                    <img src="/img/magario/magario logo w text transparent.png" class="img-responsive" alt="" style="height:48px; top:-15px; position:relative;">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a class="page-scroll click-page-top" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll click-about" href="/">Magario Website</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</template>