<template name="process">
    <html lang="en">

    <head>

        <title>Magario process</title>

        <!-- Classic Meta Tags -->
        <meta name="description" content="Magario International is a web consultancy firm based in Hong Kong.
We create sleek and beautiful websites and send it to the world, from personal blogs to corporate databases."/>
        <meta name="viewport" content="initial-scale=1.0"/>
        <meta charset="UTF-8">
        <!-- Open Graph Meta Tags -->
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="Magario Web Design and eMarketing Specialists"/>
        <meta property="og:description" content="Customized designs and Facebook compatible development for websites"/>
        <meta property="og:site_name" content="Magario International Company Limited"/>
        <meta property="og:url" content="http://magario.com/"/>
        <meta property="og:image" content="http://magario.com/img/magario/magario_logo_large.png"/>
        <meta property="fb:admins" content="100006090000201"/>

        <!-- Twitter Card Meta Tags -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:title" content="Magario Web Design and eMarketing Specialists"/>
        <meta name="twitter:description" content="Customized designs and Twitter compatible development for websites"/>
        <meta name="twitter:image" content="http://magario.com/img/magario/magario_logo_large.png"/>
        <meta name="twitter:site" content="@robmagario"/>
        <meta name="twitter:creator" content="@robmagario"/>

        <!-- Bootstrap Core CSS -->
        <link href="assets/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">

        <!-- Retina.js - Load first for faster HQ mobile images. -->
        <script src="assets/js/plugins/retina/retina.min.js"></script>

        <!-- Font Awesome -->
        <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- Default Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic'
              rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,600,500,700,800,900' rel='stylesheet'
              type='text/css'>

        <!-- Plugin CSS -->
        <link href="assets/css/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
        <link href="assets/css/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">
        <link href="assets/css/plugins/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css">
        <link href="assets/css/plugins/magnific-popup.css" rel="stylesheet" type="text/css">
        <link href="assets/css/plugins/jquery.fs.wallpaper.css" rel="stylesheet" type="text/css">

        <!-- Vitality Theme CSS -->
        <link href="assets/css/vitality-red.css" rel="stylesheet" type="text/css">

        <!-- IE8 support for HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

        <!-- Landing Page Demo Styles -->
        <style>


            .demo-header {
                text-align: center;
                background: url('/img/bg-aside.jpg') no-repeat center center scroll;
                color: #fff;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                background-size: cover;
                -o-background-size: cover;
                padding: 100px 0;
            }

            .preview-pane {
                text-align: center;
                margin-bottom: 30px;
                padding: 15px;
            }

            .preview-pane hr {
                max-width: 50px;
                margin: 5px auto;
            }

            .preview-pane a {
                color: #222;
            }

            .preview-pane a:focus {
                outline: none;
            }

            .preview-pane a img {
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                transition: all 0.5s;
            }

            .preview-pane a:hover img {
                opacity: 0.5;
            }

            .label-primary {
                background-color: #EF4035;
            }

            .cta-list {
                margin-top: 30px;
            }
        </style>

    </head>
    <body class="processPage">


    <div class="demo-header">
        <div class="demo-header-content">
            <div class="container">
                <hr class="colored">
                <p class="hero-content">Rapid Software Development</p>
                <hr class="colored">
                <p class="hero-content">High cost-benefit</p>
                <hr class="colored">
                <p class="hero-content">100% local developed in Hong Kong</p>
                <ul class="list-inline cta-list">
                    <li>
                        <a href="#our_team" class="btn btn-outline-light page-scroll-demo">{{_ "ourteam_header"}}</a>
                    </li>
                    <li>
                        <a href="#platforms" class="btn btn-outline-light page-scroll-demo">{{_ "platforms_header"}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-12 wow fadeIn">
                <h2 class="centerHeader">OUR PROCESS</h2>
                <hr class="colored">
                <h3>Agile + Rapid Product Development</h3>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-1 wow fadeIn"></div>
            <div class="col-sm-10 wow fadeIn">
                <h3>Differential uses a powerful and proven development process to help our partners rapidly unlock
                    value.</h3>

                <p>While great software development is at the heart of it, we add value in multiple ways. Strategy,
                    design/UX, web and mobile development, API integration,
                    agile learning and iteration - Differential has the experience (and the battle scars) to help guide
                    you through the product development process and create a product the world needs (and loves).</p>
                <hr class="colored">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-12 wow fadeIn">
                <h2 class="second-header">DISCOVER</h2>

                <h3>The first step to working together is for us to really get to know you and truly understand your
                    product vision.</h3>

                <div>
                    <p class="col-sm-9">
                        We want to understand who you are and how you like to work, in order to build strong and
                        transparent working relationship with you. To determine if we are a good fit for each other,
                        and
                        to
                        make sure we can rapidly unlock value for you, our strategists and developers will ask a lot
                        of
                        questions to help us understand what you want to build, who you’re building it for, and what
                        key
                        assumptions we’ll need to test once we get the product in front of real users.
                    </p>

                    <div class="col-sm-3"><img class="right" src="/img/magario/icon/discover.svg">
                    </div>
                </div>
                <hr class="colored">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-12 wow fadeIn">
                <h2 class="second-header">DEFINE</h2>

                <h3>Before we begin writing any code, we want to create a clear roadmap and set transparent expectations
                    to make sure we are completely aligned.</h3>

                <p class="col-sm-9">
                    We will assign you with a Project Lead and a Strategist who will provide consulting and coaching
                    on
                    your project to set the scope, prioritize features, plan out the roadmap, and outline user
                    experience. They will then tap the right resources (designers and developers) for the project.
                    If
                    you’ve not already done it, your assigned team will help you translate customer/user insights
                    into
                    user stories, and user stories into key features - which will help us define your product
                    roadmap.

                </p>

                <div class="col-sm-3">
                    <img src="/img/magario/icon/define.svg">
                </div>
                <hr class="colored">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-12 wow fadeIn">
                <h2 class="second-header">DEVELOP</h2>

                <h3>At this point, we will start to dig into the architecture of the project. We will present designs to
                    you and have working software up that you can see and continuously monitor to view our
                    progress.</h3>

                <p class="col-sm-9">As we navigate through the roadmap together, we will provide weekly updates and be
                    available to
                    answer any questions help you stay connected to the process as we pilot through any technical and
                    timeline challenges.</p>

                <div class="col-sm-3">
                    <img src="/img/magario/icon/develop.svg">
                </div>
            </div>
        </div>
    </div>
    <hr class="colored">

    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-12 wow fadeIn">
                <h3>“Differential is a forward thinking team that helped us bring our vision to life with their
                    technical and creative expertise... We couldn’t be happier with the results!”</h3>

                <p>Jennifer Castenson—VP of Marketing, Organized Living</p>
                <button>OUR WORK</button>
                <hr class="colored">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-12 wow fadeIn">
                <h2 class="second-header">DEPLOY</h2>

                <h3>Once we reach the end of the roadmap and have completed the scope of the project, we are ready to
                    officially launch your product.</h3>

                <p class="col-sm-9">It is time to celebrate, and to learn, as we see how real users are
                    interacting with the product. This is great, because real-world users will often uncover insights
                    and product optimization opportunities that were non-obvious before launch, but will help make the
                    product better in future versions.Once we launch and clean up any small bugs or issues that may
                    arise, we will also revisit your plan
                    for how to keep your application updated in the future.</p>

                <div class="col-sm-3">
                    <img src="/img/magario/icon/deploy.svg">
                </div>
                <hr class="colored">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-12 wow fadeIn imgCol4">
                <h2 class="centerHeader">FOLLOW THROUGH</h2>

                <p>There will always be things that need to be added or maintained once the first version of the project
                    is launched. To set you up for success with your software in the future, we offer the following
                    support options:</p>
                <hr class="colored">
                <img src="/img/magario/icon/support.svg">

                <h2 class="centerHeader">Support As Needed</h2>

                <p>If only occasional support or maintenance will be required, we can work through bug fixes and updates
                    via email and phone calls at an hourly rate.</p>
                <hr class="colored">
                <img src="/img/magario/icon/tools.svg">

                <h2 class="centerHeader">Ongoing Support</h2>

                <p>If you choose a monthly retainer support plan, Differential can have issues sent directly to us, so
                    we can fix bugs and update the code as needs arise.</p>
                <hr class="colored">
                <img src="/img/magario/icon/training.svg">

                <h2 class="centerHeader">Training</h2>

                <p>If a complete handoff is desired, we will provide documentation and training for your internal
                    developer team, so they can maintain the software in-house.
                </p>
                <hr class="colored">
                <h3 class="hcventer">Have a project you would like to take through our process?</h3>
                <button>Contact Us</button>
            </div>
        </div>
    </div>


    </body>

    </html>

</template>